<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="t_fileDebug" xsi:type="File" fileName="${basedir}/logs/debug_${shortdate}.log" encoding="UTF-8" />
    <target name="t_fileError" xsi:type="File" fileName="${basedir}/logs/error_${shortdate}.log" encoding="UTF-8"/>
    <target xsi:type="NLogViewer"
    name="t_sentinel"
    address="udp://127.0.0.1:9999"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="t_fileDebug" />
    <logger name="*" minlevel="Error" writeTo="t_fileError" />
    <logger name="*"
        minlevel="Debug"
        writeTo="t_sentinel" />
  </rules>
</nlog>
