.styleTable
{
   width: 490px;
}
.styleTableRow
{
    width: 490px;
}
.styleTableCell1
{
    width: 200px; 
    text-align: right;
}
.styleTableCell2
{
    width:250px;
    text-align: right;
}
.styleTableCell2TextBox
{
    width: 250px; 
    text-align: left;
}
.styleTableCell3
{
    width: 20px;
    text-align: right;
}
.styleTableCell4
{
    width: 20px;
    text-align: right;
}
.styleTableCell5
{
    width: 30px;
    text-align: right;
}
.styleButton
{
    width: 125px;
}
.styleDdl
{
    width: 256px;
}
.gvscheme
{
    width:250px;
    
    }