div#scroller
{
    width: auto;
    height: 50px;
    margin: 1em 0;
    padding: 2px;
    background-color: #fff;
    color: #032071;
}

div#wn
{
    position: relative;
    width: auto;
    height: 50px;
    overflow: hidden;
}

div#wn div.block
{
    height: 50px;
    text-align: left;
}

div#wn div.block a img
{
    border: none;
}

div#wn div.block a:link, div#wn div.block a:visited, div#wn div.block a:hover
{
    color: #0F2F8D;
    text-decoration: none;
}
